@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: url("Untitled\ \(1\).jpeg");
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

@media (max-width: 710px) {
  body {
    background-image: url("potrait.jpeg");
    background-size: cover;
    background-position: top center;
  }
  
}

h1 {
    width: fit-content;
    background-color: #2D0606;
    padding: 0 1vw;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 2.5rem;
    justify-content: center;
    color: #a69084;
    text-align: center;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
    color: whitesmoke;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
    color: whitesmoke;
}

.footer-text {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 17.8rem;
  align-items: center;
  font-weight: 400;
  color:#a69084;
  justify-content: center;
  background-color: #230505;
  padding: 0 1vw;
  
}
